body {
    margin-top:90px;
}
h1{
    text-align: center;
    padding-bottom: 30px;
}

.actions p {
    text-align: center;
    margin: 50px;
}
.options {
    display: flex;
    padding-top: 40px;
    margin: 40px;
}
.img :hover {
    filter:grayscale(100%)
    

}
@media (max-width: 480px) {
    .options {
        flex-direction: column; 
        margin: 20px; 
    }
    .actions p {
        margin: 20px; 
    }
}
