footer {
    background-color:#071629;
    position: relative;
    text-align: center;
    padding: 20px 0; /* Add padding for spacing */
}
.fin {
    width: 180px;
    margin-right: 900px; 
}
.social img {
    width: 30px;
    height: 30px;
    top: 90px;
    left: 1070px;
    color:white;
}
.social {
    margin-left: 500px;
}

