body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}

.pantagon {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 381px;
    left: 1005px;
    background-color: #FF6565;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    opacity: 0;
}