.results {
    width: 1400px;
    height: 650px;
    top: 1494px;
    left: 1px;
    background-image: url(images/headphones_hero_2.jpg);
    padding: 20px 0;
    /* Add padding around the content */
}

.res {
    height: 40px;
    top: 141px;
    left: 477px;
    color: white;
    text-align: center;
    margin-top: 160px;
    font-size: 30px;
}

.results h2,
.results p {
    text-align: center;
    color: white;
}


.photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 170px;
}

.pentagone {
    width: 180px;
    height: 180px;
    top: 381px;
    left: 207px;
}

.image-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
    transition: transform 0.3s ease;

}

.image-container:nth-child(1) {
    animation-delay: 0.2s;
}

.image-container:nth-child(2) {
    animation-delay: 0.4s;
}

.image-container:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        /* Fully visible */
        transform: translateY(0);
        /* Move to original position */
    }
}


.text {
    position: absolute;
    /* Position the text absolutely within the container */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust for centering */
    text-align: center;
    /* Center text */
    color: white;
    /* Set text color (adjust as needed) */
}

.text h3 {
    font-size: 30px;
}

.text h3,
.text p {
    margin: 0;
    /* Remove default margins */
    padding: 0;
    /* Remove padding */
}

footer {
    background-color: #071629;
    position: relative;
    text-align: center;
    padding: 20px 0;
    /* Add padding for spacing */
}

.fin {
    width: 180px;
    margin-right: 900px;
}

.social img {
    width: 30px;
    height: 30px;
    top: 90px;
    left: 1070px;
    color: white;
}

.social {
    margin-left: 500px;
}

.image-container:hover {
    transform: scale(1.05);
    /* Scale up slightly on hover */
}