body{

    display: flex;
    flex-direction: column;
   
}

main {
    display: flex;
    flex-direction :row;
    margin: 1px;
    flex:auto;
}

article {
    flex:2;
    overflow-y: auto;
}

aside{
    flex:1;
    overflow-y: auto;
}

header, footer {
    padding: 10px;
    background-color: white;
    text-align: center;
}


